body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(170, 190, 210);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* -------------- Container All -------------- */

.bg-rgb-170-190-210 {
  background-color: rgb(170, 190, 210);
}

.align-items-center {
  align-items: center;
}

.mt-10 {
  margin-top: 10px;
}

/* -------------- Container App -------------- */

.outline-5 {
  outline: 5px solid black;
}

.max-w-530 {
  max-width: 530px;
}

/* -------------- Container Drop -------------- */

.bg-linear-black-violet {
  background: linear-gradient(rgb(50, 50, 50), rgb(150, 50, 150));
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.upload-file {
  background-image: url("/imgs/uploadFile.png");
  height: 64px;
  margin: auto;
  width: 64px;
}

.d-none {
  display: none;
}

/* -------------- Container Images -------------- */

.bg-transparent-img {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("/imgs/bgpng.png");
}

.max-w-full {
  max-width: 100%;
}

.mx-auto {
  margin: 0 auto;
}

.invisible {
  visibility: hidden;
  height: 0;
}

.mouse-crosshair {
  cursor: crosshair;
}

.text-shadow {
  color: rgb(0, 0, 0);
  text-shadow: 0.5px 0.5px 0 rgb(255, 255, 255), -0.5px -0.5px 0 rgb(255, 255, 255), 0.5px -0.5px 0 rgb(255, 255, 255), -0.5px 0.5px 0 rgb(255, 255, 255),
    0.5px 0.5px 0 rgb(255, 255, 255);
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* -------------- Container Choose Color -------------- */

.bg-rgb-50-50-50 {
  background-color: rgb(50, 50, 50);
}

.p-10 {
  padding: 10px;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.style-type-none {
  list-style-type: none;
}

.border-radius-5 {
  border-radius: 5px;
}

.outline-none {
  outline: none;
}

.text-white {
  color: rgb(255, 255, 255);
}

.py-5 {
  padding: 5px 0;
}

.w-full {
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px;
}

.focus_outline-black:focus {
  outline: 2px solid rgb(0, 0, 0);
}

.w-50 {
  width: 50%;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.border-t-2 {
  border-top: 2px solid rgb(0, 0, 0);
}

.border-b-2 {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.border-r-2 {
  border-right: 2px solid rgb(0, 0, 0);
}

.border-l-2 {
  border-left: 2px solid rgb(0, 0, 0);
}

.input-range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  opacity: 0.5;
}

.input-range:active {
  opacity: 1;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 15px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.bg-Red {
  background-color: rgb(150, 0, 0);
}

.bg-Green {
  background-color: rgb(0, 150, 0);
}

.bg-Blue {
  background-color: rgb(0, 0, 150);
}

.mb-20 {
  margin-bottom: 20px;
}

/* -------------- Container Buttons -------------- */

.btn {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  width: 100%;
}

.btn:hover {
  background-color: rgb(220, 220, 220);
}

.flex-wrap {
  flex-wrap: wrap;
}

.image-colors {
  height: 300px;
  width: 200px;
  border: 1px solid #ddd;
  background: #f1f1f1;
  overflow-y: scroll;
}

/* -------------- Footer -------------- */

.py-15 {
  padding: 15px 0;
}

.color-rgba-0-0-0-06 {
  color: rgba(0, 0, 0, 0.6);
}

.text-decoration-none {
  text-decoration: none;
}

.hover_color-black:hover {
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 535px) {
  .mt-10 {
    margin-top: 0;
  }
}
