body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(170, 190, 210);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* -------------- Container All -------------- */

.container-all {
  align-items: center;
  background-color: rgb(170, 190, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.mt-10 {
  margin-top: 10px;
}

/* -------------- Container App -------------- */

.container-app {
  background-color: rgb(50, 50, 50);
  outline: 5px solid black;
  width: 100%;
  max-width: 530px;
}

/* -------------- Container Drop -------------- */

.container-drop {
  background: linear-gradient(rgb(50, 50, 50), rgb(150, 50, 150));
  padding: 20px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.upload-file {
  background-image: url("/imgs/uploadFile.png");
  height: 64px;
  margin: auto;
  width: 64px;
}

.d-none {
  display: none;
}

.z--1 {
  z-index: -1;
}

.z-99 {
  z-index: 99;
}

/* -------------- Container Images -------------- */

.container-images {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("/imgs/bgpng.png");
  padding: 10px;
}

.max-h-200 {
  max-height: 200px;
}

.max-w-full {
  max-width: 100%;
}

.mx-auto {
  margin: 0 auto;
}

/* -------------- Container Choose Color -------------- */

.container-choose-color {
  background-color: rgb(50, 50, 50);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.style-type-none {
  list-style-type: none;
}

.border-radius-5 {
  border-radius: 5px;
}

.outline-none {
  outline: none;
}

.text-white {
  color: rgb(255, 255, 255);
}

.py-5 {
  padding: 5px 0;
}

.w-full {
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px;
}

.focus_outline-black:focus {
  outline: 2px solid rgb(0, 0, 0);
}

.w-50 {
  width: 50%;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.border-t-2 {
  border-top: 2px solid rgb(0, 0, 0);
}

.border-b-2 {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.border-r-2 {
  border-right: 2px solid rgb(0, 0, 0);
}

.border-l-2 {
  border-left: 2px solid rgb(0, 0, 0);
}

/* -------------- Container Buttons -------------- */

.container-buttons {
  background-color: rgb(50, 50, 50);
  display: flex;
}

.btn {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  width: 100%;
}

.btn:hover {
  background-color: rgb(220, 220, 220);
}

/* -------------- Footer -------------- */

.footer {
  align-items: center;
  border-top: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
}

.footer-p {
  margin: 0;
}

.footer-a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.footer-a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .container-app {
    max-width: 100%;
  }
  .mt-10 {
    margin-top: 0;
  }
}
  
